@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');

*{
    font-family: 'Inter', sans-serif;
}

body{
    margin: 40px 80px;
    background-color: #cbd5fa;
    width: 1440px;
}

main{
    display: flex;
    flex-direction: row;
}

.logo{
    margin: 0;
    padding-right: 120px;
}

button{
    width: 270px;
    height: 47px;
    border-radius: 20px;
    padding: auto;

}

